
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{_('Solo Travel Accommodation')}}</h2>
            <h3 class="section-subheading text-muted">{{_('Explore accommodations ideal for solo travelers.')}}</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="timeline-panel">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/css/sv/2pic.jpg" alt="Accommodation Image" /></div>
                    <div class="timeline-heading">
                        <h4>{{_('Cozy Rooms')}}</h4>
                        <h4 class="subheading">{{_('Comfort and Convenience')}}</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{_('Experience cozy and comfortable rooms tailored for solo travelers, providing both comfort and convenience.')}}</p>
                    </div>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{_('Single Occupancy')}}</h4>
                        <h4 class="subheading">{{_('Personal Space')}}</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{_('Enjoy the luxury of single occupancy rooms, providing you with your own personal space during your stay.')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{_('Convenient Amenities')}}</h4>
                        <h4 class="subheading">{{_('All You Need')}}</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{_('Benefit from convenient amenities and facilities designed to meet the needs of solo travelers, ensuring a hassle-free experience.')}}</p>
                    </div>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{_('Accessible Location')}}</h4>
                        <h4 class="subheading">{{_('Explore With Ease')}}</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{_('Stay in accommodations located in convenient and accessible areas, allowing you to explore your destination with ease.')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
