<!-- Solo Traveler Offers Grid -->
<section class="page-section bg-dark" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Offer item 1 -->
                <div class="offer-item">
                    <a class="offer-link" data-bs-toggle="modal" href="#offerModal1">
                        <div class="offer-hover">
                            <div class="offer-hover-content"><i class="fas fa-plus fa-3x text-white"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/sv/1pic.jpg" alt="Offer 1" />
                    </a>
                    <div class="offer-caption text-center">
                        <h3 class="text-white">{{_('Solo Adventure')}}</h3>
                        <p class="text-muted">{{_('Exciting Solo Travel Destinations')}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Offer item 2 -->
                <div class="offer-item">
                    <a class="offer-link" data-bs-toggle="modal" href="#offerModal2">
                        <div class="offer-hover">
                            <div class="offer-hover-content"><i class="fas fa-plus fa-3x text-white"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/sv/2pic.jpg" alt="Offer 2" />
                    </a>
                    <div class="offer-caption text-center">
                        <h3 class="text-white">{{_('Cultural Explorations')}}</h3>
                        <p class="text-muted">{{_('Discover Unique Cultures Around the World')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-6 offset-lg-3 text-center">
                <!-- Offer item 3 -->
                <div class="offer-item">
                    <a class="offer-link" data-bs-toggle="modal" href="#offerModal3">
                        <div class="offer-hover">
                            <div class="offer-hover-content"><i class="fas fa-plus fa-3x text-white"></i></div>
                        </div>
                        <img class="img-fluid" src="static/assets/img/sv/3pic.jpg" alt="Offer 3" />
                    </a>
                    <div class="offer-caption text-center">
                        <h3 class="text-white">{{_('Outdoor Adventures')}}</h3>
                        <p class="text-muted">{{_('Experience Thrilling Outdoor Activities')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a class="btn btn-primary btn-xl" href="#offers-page">{{_('Explore More Offers')}}</a>
            </div>
        </div>
    </div>
</section>
