<!-- Family Offers Grid -->
<section class="page-section bg-primary" id= "offers">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-white">{{_('Family Offers')}}</h2>
            <h3 class="section-subheading text-light">{{_('Discover our family-friendly services and activities!')}}</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Offer item 1 -->
                <div class="offer-item">
                    <a class="offer-link" data-bs-toggle="modal" href="#offerModal1">
                        <div class="offer-hover">
                            <div class="offer-hover-content"><i class="fas fa-plus fa-3x text-white"></i></div>
                        </div>
                        <img class="img-fluid" src="static/css/ko/3pic.jpg" alt="Offer 1" />
                    </a>
                    <div class="offer-caption">
                        <div class="offer-caption-heading text-white">{{_('Family Adventure')}}</div>
                        <div class="offer-caption-subheading">{{_('Exciting Activities for All Ages')}}</div>
                    </div>
                </div>
            </div>
            <!-- Add more offer items here -->
        </div>
    </div>
</section>l>