<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{_('Booking')}}</h2>
            <h3 class="section-subheading text-muted">{{_('To help your holiday planning.')}}</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{_('Flights')}}</h4>
                <p class="text-muted">{{_('Affordable flights for you and the family.')}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{_('Accomdations')}}</h4>
                <p class="text-muted">{{_('Easy, accessable and affordable places to stay.')}}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">{{_('Transport')}}</h4>
                <p class="text-muted">{{_('Different ways to get around airports ')}}</p>
            </div>
        </div>
    </div>
</section>